body {
    font-family: 'Inter', sans-serif;
}

/* This is needed for Vue.js to hide elements before they are loaded */
[v-cloak] {
    display: none;
}

/* Custom styles */
body {
    font-family: 'Inter', sans-serif;
}

.container {
    position: relative;
    width: 1280px;
    height: 720px;
    max-width: 100vw;
    max-height: calc(100vw * 0.5625);
    /* 16:9 Aspect Ratio */
}

video,
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    transform: scaleX(-1);
    /* Mirror the video */
}

.loading-spinner {
    border: 8px solid #f3f3f3;
    /* Light grey */
    border-top: 8px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}